.App
{
   background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);;
}
.form
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar
{
  width: 50%;
}
.searchButton
{
  background-color: #4fb576;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  margin: 4px 2px
  
}
.loadMoreButton
{
  background-color: #6c4f63;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 50%;
  margin: 4px 2px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom:  0;
  right: 0;
  float: right;
  
}
.recipe
{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.recipes
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}